.bg {
	display: flex;
	justify-content: flex-end;
}

.menu-btn {
	width: 30px;
	height: 30px;
	position: relative;
	z-index: 3;
	overflow: hidden;
}

.menu-btn span {
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #EDECE7;
	transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}

.menu-btn.active span:nth-of-type(1) {
  display: none;
}
.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg); 
  background-color:#141215; 
}
.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg); 
  background-color:#141215;
}

.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 500px;
	padding: 15px;
    background: #EDECE7;
	transform: translateX(-100%);
	transition: transform 0.5s; 
    color: #757470;
    z-index: 2;
}

.bg-nav {
    text-align: center;
}

.menu-bg-nav {
    margin-top: 70px;
    margin-bottom: 20px;
}

.logo2 {
    background-image: url("../REKA/IMG/Vector\ \(5\).png");
    background-repeat: no-repeat;
    background-size: 183px 19px;
    width: 200px;
    height: 28px;
    margin-left: 95px;
    margin-right: 164px;
  }

.bg-nav-item {
    margin-bottom: 44px;
}

.menu.active {
	transform: translateX(0);
}

.menu li {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
	list-style-type: none;
    letter-spacing: 1.55422px;
    text-transform: uppercase;
    color: #757470;
}

@media (max-width:1800px) {
    .logo {
        margin-right: 120px;
    }

    .nav {
        padding-right: 150px;
    }
}

@media (max-width:1670px) {
    .logo {
        margin-right: 90px;
    }

    .nav {
        padding-right: 100px;
    }

    .header-nav-item {
        font-size: 13px;
        line-height: 15px;
        color: #CCCBC6;
    }

    .header-nav-item:not(:last-child) {
        margin-right: 30px;
    }
}

@media (max-width:1450px) {
    .logo {
        margin-left: 70px;
        margin-right: 60px;
    }

    .nav {
        padding-right: 60px;
    }

    .header-nav-item {
        font-size: 13px;
        line-height: 15px;
        color: #CCCBC6;
    }

    .header-nav-item:not(:last-child) {
        margin-right: 25px;
    }

    .header-nav-ite {
        font-size: 15px;
        line-height: 17px;
    }
}

@media (max-width:1320px) {
    .logo {
        margin-left: 30px;
        margin-right: 30px;
    }

    .nav {
        padding-right: 30px;
    }

    .header-nav-item {
        font-size: 13px;
        line-height: 15px;
        color: #CCCBC6;
    }

    .header-nav-item:not(:last-child) {
        margin-right: 15px;
    }

    .header-nav-ite {
        font-size: 15px;
        line-height: 17px;
    }
}

@media (max-width:1190px) {
    .logo {
        margin-left: 20px;
        margin-right: 0px;
    }

    .nav {
        padding-right: 20px;
    }

    .header-nav-item {
        font-size: 13px;
        line-height: 15px;
        color: #CCCBC6;
    }

    .header-nav-item:not(:last-child) {
        margin-right: 11px;
    }

    .header-nav-ite {
        font-size: 13px;
        line-height: 15px;
    }
}

@media (max-width:1100px) {
    .logo {
        background-size: 200px 20px;
        width: 200px;
        margin-left: 20px;
        margin-right: 0px;
    }

    .nav {
        padding-right: 20px;
    }

    .header-nav-item {
        font-size: 11px;
        line-height: 12px;
        color: #CCCBC6;
    }

    .header-nav-item:not(:last-child) {
        margin-right: 8px;
    }

    .header-nav-ite {
        font-size: 11px;
        line-height: 12px;
        top: 10px;
    }
}

@media (max-width:885px) {
    .logo {
        background-size: 160px 18px;
        width: 160px;
        margin-left: 20px;
        margin-right: 0px;
    }

    .nav {
        padding-right: 20px;
    }

    .header-nav-item {
        font-size: 9px;
        line-height: 10px;
        color: #CCCBC6;
    }

    .header-nav-item:not(:last-child) {
        margin-right: 7px;
    }

    .header-nav-ite {
        font-size: 10px;
        line-height: 11px;
    }
}
@media (max-width:768px){
    .logo {
        background-size: 170px 20px;
        width: 170px;
        margin-left: 20px;
        margin-right: 0px;
    }

    .nav, .phone {
        display: none;
    }

    .header-border {
        border: 1px solid rgba(255, 255, 255, 0.15);
        margin-bottom: 20px;
    }

    .container {
        display: flex;
        justify-content: center;
    }

    .l-p {
        padding-left: 90px;
    }

    .logo {
        margin-left: 90px;
        margin-right: 70px;
        width: 183px;
    }
}

@media (max-width:580px) {
    .logo2 {
        background-size: 160px 17px;
        width: 160px;
        height: 28px;
        margin-left: 90px;
        margin-right: 90px;
    }
}

@media (max-width:500px) {
    .logo2 {
        background-size: 160px 17px;
        width: 160px;
        height: 28px;
        margin-left: 80px;
        margin-right: 120px;
    }
}

@media (max-width:420px) {
    .logo2 {
        background-size: 120px 14px;
        width: 120px;
        height: 28px;
        margin-left: 70px;
        margin-right: 100px;
    }

    .cont {
        background-image: url('../REKA/IMG/img-slider-1\ \(2\).jpg');
        background-size: cover;
        height: 700px;
    }

    .logo {
        background-size: 183px 19px;
        margin-left: 50px;
        margin-right: 50px;
        width: 183px;
    }

   .l-p {
       padding-left: 30px;
   }

    .slogan {
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 4px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    
    .first-name, 
    .second-name {
        font-weight: 600;
        font-size: 32px;
        line-height: 39px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: #DBD8D1;
    }

    .first-name:before {
        bottom: -10px;
    }   

    .proj:before {
        bottom: -20px;
    }

    #title {
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 2px;
    }
    
    #body {
        font-weight: normal;
        font-size: 10px;
        line-height: 128%;
        letter-spacing: 2px;
    }
    .swiper-button-next, .swiper-button-prev {
        color: #FFFFFF;
     }
}

@media (min-width:768px){
    .mobile, .logo-phone {
        display: none;
    }  
}
