html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
  }
  
  body {
    margin: 0;
  }
  
  .flex {
    display: flex;
  }
  
  .list-reset {
    list-style: none;
  }
  
  .cont {
    height: 800px;
    background-image: url("../REKA/IMG/img-slider-1\ \(1\).jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 1920px 864px;
  }
  
  .container {
    align-items: center;
  }
  
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .logo {
    background-image: url("../REKA/IMG/Vector\ \(4\).png");
    background-repeat: no-repeat;
    width: 272px;
    height: 28px;
    margin-left: 95px;
    margin-right: 164px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-top: 80px;
    font-family: "Roboto", sans-serif;
  }
  /* scroll */
  .header-fixed {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    animation-name: show-header;
    animation-duration: 1s;
  }
  
  .header-nav-item-change {
    color: #131217;
  }
  
  .header-nav-item-change:hover {
    color: #8f6b2d;
    border-bottom: 1px solid #8f6b2d;
  }
  
  .logo-change {
    background-image: url("../REKA/IMG/Vector\ \(5\).png");
    background-repeat: no-repeat;
    width: 272px;
    height: 28px;
  }
  
  .header-nav-ite {
    font-size: 18px;
    line-height: 21px;
    color: #dbd8d1;
  }
  
  .phone-change {
    color: #131217;
  }
  
  @keyframes show-header {
    0% {
      opacity: 0;
      top: -90px;
    }
    100% {
      opacity: 1;
      top: 0;
    }
  }
  
  .header-nav-item:not(:last-child) {
    margin-right: 35px;
  }
  
  .header-nav-item {
    font-size: 15px;
    line-height: 18px;
    color: #cccbc6;
  }
  
  .nav {
    padding-right: 226px;
  }
  
  .phone {
    font-size: 18px;
    line-height: 21px;
    color: #dbd8d1;
  }
  
  .naming-font {
    font-family: "Cormorant Garamond", serif;
    text-align: center;
    padding-top: 190px;
  }
  
  .slogan {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #ffffff;
  }
  
  .first-name,
  .second-name {
    font-weight: 600;
    font-size: 50.9091px;
    line-height: 62px;
    letter-spacing: 12px;
    text-transform: uppercase;
    color: #dbd8d1;
  }
  
  .first-name {
    position: relative;
  }
  
  .first-name:before {
    content: "";
    display: block;
    position: absolute;
    width: 99px;
    height: 1px;
    background: #ccbb9e;
    left: calc(50% - 49px);
    bottom: -17px;
  }
  
  .proj:before {
    content: "";
    display: block;
    position: absolute;
    width: 127px;
    height: 3px;
    background: #d7ae7a;
    left: calc(50% - 65px);
    bottom: -10px;
  }
  
  .projects {
    font-family: Cormorant Garamond;
  }
  
  .proj {
    text-align: center;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #131217;
    position: relative;
  }
  
  .swiper-button-next,
  .swiper-button-prev {
    color: #424b5a;
  }
  
  #title {
    font-weight: normal;
    font-size: 42px;
    line-height: 51px;
    letter-spacing: 2px;
  }
  
  #body {
    font-weight: normal;
    font-size: 12px;
    line-height: 128%;
  }