html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Montserrat', sans-serif;

}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.flex {
    display: flex;
}

.header {
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #BDB76B;
    padding-bottom: 8px;
    padding-top: 8px;
}


.header-nav-item:not(:last-child) {
    margin-right: 30px;
}

.header-nav-item {
    font-size: 20px;
    font-weight: 800;
}

.button {
    margin-left: 30px;
}

.bubbly-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    padding: 6px 12px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #556B2F;
    color: #fff;
    border-radius: 4px;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
}

.bubbly-button:active {
    transform: scale(0.9);
    background-color: #4eb64a;
}

.people-chat {
    padding-top: 10px;
   justify-content: center;
   padding-bottom: 10px;
}

.people {
    height: 500px;
    width: 200px;
    border: 2px solid #BDB76B;
    padding: 10px;
    overflow: scroll;
    background: #f7f7d9;
}

.contacts-item {
    text-align: center;
}

.contacts-item:not(:last-child) {
    padding-bottom: 10px;
}

.contacts-name {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-weight: 800;
}

.contacts-icon {
    flex-shrink: 0;
}

.chat {
    height: 500px;
    width: 1200px;
    border: 2px solid #BDB76B;
    padding: 10px;
    overflow: scroll;
    background: #f7f7d9;
}

.person-chat {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #BDB76B;
}

.chat-one-person {
    margin-top: 10px;
}

.chat-two-person {
    margin-top: 10px;
    justify-content: end;
    margin-bottom: 10px;
}

.person-chat-two {
    border: 1px solid #BDB76B;
    padding: 5px;
    margin-right: 10px;
}

.footer {
    border-top: 2px solid #BDB76B;
    padding-top: 10px;
}

.footer-element:not(:last-child) {
    margin-right: 30px;
}

.footer-element {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    font-weight: 200;
}

.regist {
    flex-direction: column;
    text-align: center;
    width: 30%;
}

.btn {
    margin-top: 10px;
}

.about {
    width: 30%;
}

.adress {
    width: 30%;
}

.main--password-control {
    background-image: url(../Plarson/IMG/icon=eye.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 25px;
    height: 24px;
    border: none;
    background-color: transparent;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity 0.4s;
  }


  .main--password-control-opened {
    background-image: url(../Plarson/IMG/icons.svg);
  }
  
  .main--password-control:hover {
    opacity: 1;
  }